{% extends 'dashboard/base.html' %} {% block content %}
{% load static %}
<script>
    $(document).ready(function () {
        function getSoundMapping(value){
            if(value >= 30 && value <= 50) {
                return "❚❚"
            }
            else if (value > 50 && value <= 70 ){
                return "❚❚❚❚"
            }
            else if (value > 70){
                return "❚❚❚❚❚❚"
            }
            else{
                return "N/A"
            }
        }

        function getLightMapping(value){
            if(value >= 0 && value <= 300) {
                return "Dim"
            }
            else if (value >= 301 && value <= 500 ){
                return "Ideal"
            }
            else if (value >= 501){
                return "Bright"
            }
            else{
                return "N/A"
            }
        }

        function updateSensorData(allSensorData){
            // Loop through the received data and update the display
            roomNames = Object.keys(allSensorData);
            roomNames.forEach((roomName) => {
                readings = allSensorData[roomName]
                sensorNames = Object.keys(readings);
                sensorNames.forEach((sensorName) => {
                    let sensorInfo = readings[sensorName];
                    let sensorValue = sensorInfo.value

                    if(sensorName === "Sound"){
                        sensorValue = getSoundMapping(sensorValue)
                    }

                    if(sensorName === "Light"){
                        sensorValue = getLightMapping(sensorValue)
                    }

                    let displayId = sensorName + '-display-' + roomName;
                    $('#' + displayId).text(sensorValue);
                });
            });
        }

        function updateRoomRanking(roomRankings){
            if (roomRankings === null){
                $('#room-rankings').text("Please set your preferences to get room rankings")
                return
            }
            $('#room-rankings').empty();
            roomRankings.forEach((rank, index) => {
                $('#room-rankings').append('<p>' + (index + 1) + '. ' + rank.room + '</p>');
            });
            var myDiv = document.getElementById("ranking-animation");
            myDiv.classList.add("fa-bounce");
            setTimeout(function() {
                myDiv.classList.remove("fa-bounce");
              }, 3000);
        }

        function refreshDashboard() {
            $.ajax({
                url: '/get_dashboard_data/',
                type: 'GET',
                success: function (data) {
                    if ('error' in data) {
                        console.error('Error:', data.error);
                    } else {
                        updateSensorData(data["sensorData"]);
                        updateRoomRanking(data["rankingData"]);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('AJAX Error:', error);
                }
            });
        }
    // Initial call
    refreshDashboard();

    // Set interval to update every 30 seconds for each room
    setInterval(function () {
        refreshDashboard();
    }, 30000);
    });

    function toggleMap() {
        let pictureMap = document.getElementById("picture-map");
        let drawnMap = document.getElementById("drawn-map");

        if (pictureMap.style.display === 'none' || pictureMap.style.display === '') {
            pictureMap.style.display = 'block';
            drawnMap.style.display = 'none';
        } else {
            pictureMap.style.display = 'none';
            drawnMap.style.display = 'block';
        }
    }
    </script>



</script>

<div class="container">
    <div class="row">
        <div class="col-12 border-dark">
            <p>Welcome to AIP</p>
            <p>Select a room, or set your preferences to find the best room for you</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="map-container" class="container col-3 col-md-10 border border-3 border-dark rounded-3">
            <div id="drawn-map">
                <div class="row">
                    <div class="col-3 col-md-3 class-room-available border border-dark rounded">
                        <p>AIP S111</p>
                        <hr>
                        <p><i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-AIP_S111">Loading...</span></p>
                        <p><i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-AIP_S111">Loading...</span></p>
                    </div>
                    <div class="col-3 col-md-3 class-room-available border border-dark rounded">
                        <p>AIP S112</p>
                        <hr>
                        <p><i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-AIP_S111">Loading...</span></p>
                        <p><i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-AIP_S111">Loading...</span></p>
                    </div>
                    <div class="col-3 col-md-3 class-room-available border border-dark rounded">
                        <p>AIP S114</p>
                        <hr>
                        <p><i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-AIP_S111">Loading...</span></p>
                        <p><i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-AIP_S111">Loading...</span></p>
                    </div>
                    <div class="col-3 col-md-3 border-left border-top border-right border-dark text-right help-text font-weight-bold hallway rounded">
                        Entrance
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-md-2 class-room-available border border-dark rounded">
                        <p>AIP S110</p>
                        <hr>
                        <p><i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-AIP_S111">Loading...</span></p>
                        <p><i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-AIP_S111">Loading...</span></p>
                    </div>
                    <div class="col-3 col-md-2 hallway"></div>
                    <div class="col-3 col-md-8 hallway">
                        <div class="row h-50">
                            <div class="col-3 col-md-12 help-text font-weight-bold hallway border-right border-dark rounded">Hallway</div>
                        </div>
                        <div class="row h-50">
                            <div class="col-3 col-md-3 class-room-available border border-dark rounded">
                                <p>AIP S102</p>
                                <hr>
                                <p><i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-AIP_S111">Loading...</span></p>
                                <p><i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-AIP_S111">Loading...</span></p>
                            </div>
                            <div class="col-3 col-md-3 outside border-top border-dark rounded"></div>
                            <div class="col-3 col-md-6 bg-white border-left border-right border-dark rounded">
                                <div class="row h-100">
                                    <div class="col-3 col-md-5 other-room border border-dark rounded"></div>
                                    <div class="col-3 col-md-2 hallway"></div>
                                    <div class="col-3 col-md-5 other-room border border-dark rounded"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-md-2 class-room-available border border-round border-dark rounded">
                        <p>AIP S108</p>
                        <hr>
                        <p>
                            <i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-AIP_S108"><i class="fa-solid fa-ellipsis fa-fade"></i></span>
                            <i class="fas fa-sun ms-2"></i>: <span id="Light-display-AIP_S108"><i class="fa-solid fa-ellipsis fa-fade"></i></span>
                        </p>
                        <p>
                            <i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-AIP_S108"><i class="fa-solid fa-ellipsis fa-fade"></i></span>
                            <i class="fas fa-volume-down ms-2"></i>: <span id="Sound-display-AIP_S108"><i class="fa-solid fa-ellipsis fa-fade"></i></span>
                        </p>
                    </div>
                    <div class="col-3 col-md-2 class-room-available border border-dark rounded">
                        <p>AIP S106</p>
                        <hr>
                        <p><i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-AIP_S108">Loading...</span></p>
                        <p><i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-AIP_S108">Loading...</span></p>
                    </div>
                    <div class="col-3 col-md-2 class-room-available border border-dark rounded">
                        <p>AIP S104</p>
                        <hr>
                        <p><i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-AIP_S108">Loading...</span></p>
                        <p><i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-AIP_S108">Loading...</span></p>
                    </div>
                    <div class="col-3 col-md-2 outside"></div>
                    <div class="col-3 col-md-4 bg-white border-left border-bottom border-right border-dark rounded">
                        <div class="row h-100">
                            <div class="col-3 col-md-5 other-room border border-dark rounded"></div>
                            <div class="col-3 col-md-2 hallway"></div>
                            <div class="col-3 col-md-5 class-room-available border border-dark rounded">
                                <p>AIP S215</p>
                                <hr>
                                <p><i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-AIP_S108">Loading...</span></p>
                                <p><i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-AIP_S108">Loading...</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="picture-map">
                <img class="img-fluid" src={% static 'dashboard/images/floor_plan.jpeg' %} alt="Avatar">
            </div>
        </div>
        <div class="container col-3 col-md-2 border border-3 border-dark rounded-3">
            <h2>Your <i id="ranking-animation" class="fa-solid fa-ranking-star" style="color: #0d0e07;"></i></h2><span>
            <div id="room-rankings">
            </div>
        </div>
    </div>
</div>


{% endblock content %}
