{% extends 'dashboard/base.html' %} {% block content %}
<script>
    $(document).ready(function () {

        function updateSensorData(allSensorData){
            // Loop through the received data and update the display
            roomNames = Object.keys(allSensorData);
            roomNames.forEach((roomName) => {
                readings = allSensorData[roomName]
                sensorNames = Object.keys(readings);
                sensorNames.forEach((sensorName) => {
                    var sensorInfo = readings[sensorName];
                    var displayId = sensorName + '-display-' + roomName;
                    $('#' + displayId).text(sensorInfo.value + ' ' + sensorName);
                });
            });
        }[
        {
            "room": "ROOM202",
            "score": 16
        },
        {
            "room": "ROOM201",
            "score": 19
        }
    ]

        function updateRoomRanking(roomRankings){
            $('#room-rankings').empty();
            roomRankings.forEach((rank, index) => {
                $('#room-rankings').append('<p>' + (index + 1) + '. ' + rank.room + '</p>');
            });
        }

        function refreshDashboard() {
            $.ajax({
                url: '/get_dashboard_data/',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    if ('error' in data) {
                        console.error('Error:', data.error);
                    } else {
                        updateSensorData(data["sensorData"]);
                        updateRoomRanking(data["rankingData"]);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('AJAX Error:', error);
                }
            });
        }
    // Initial call
    refreshDashboard();

    // Set interval to update every 30 seconds for each room
    setInterval(function () {
        refreshDashboard();
    }, 30000);
    });


</script>

<div>
    {% for roomName in room_names %}
        <div>
            <h2>{{ roomName }}</h2>
            {% for sensorName in sensor_names %}
                <p id="{{ sensorName }}-display-{{ roomName }}">Loading...</p>
                <p id="timestamp-{{ sensorName }}-display-{{ roomName }}"></p>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<div>
    <h1>Room Rankings:</h1>
    <div id="room-rankings">
    </div>
</div>

{% endblock content %}
