{% extends 'dashboard/base.html' %} {% block content %}
<script>
    $(document).ready(function () {

        function updateSensorData(allSensorData){
            // Loop through the received data and update the display
            roomNames = Object.keys(allSensorData);
            roomNames.forEach((roomName) => {
                readings = allSensorData[roomName]
                sensorNames = Object.keys(readings);
                sensorNames.forEach((sensorName) => {
                    let sensorInfo = readings[sensorName];
                    let displayId = sensorName + '-display-' + roomName;
                    $('#' + displayId).text(sensorInfo.value);
                });
            });
        }[
        {
            "room": "ROOM202",
            "score": 16
        },
        {
            "room": "ROOM201",
            "score": 19
        }
    ]

        function updateRoomRanking(roomRankings){
            if (roomRankings === null){
                $('#room-rankings').text("Please set your preferences to get room rankings")
                return
            }
            $('#room-rankings').empty();
            roomRankings.forEach((rank, index) => {
                $('#room-rankings').append('<p>' + (index + 1) + '. ' + rank.room + '</p>');
            });
        }

        function refreshDashboard() {
            $.ajax({
                url: '/get_dashboard_data/',
                type: 'GET',
                success: function (data) {
                    if ('error' in data) {
                        console.error('Error:', data.error);
                    } else {
                        updateSensorData(data["sensorData"]);
                        updateRoomRanking(data["rankingData"]);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('AJAX Error:', error);
                }
            });
        }
    // Initial call
    refreshDashboard();

    // Set interval to update every 30 seconds for each room
    setInterval(function () {
        refreshDashboard();
    }, 30000);
    });


</script>
<div class="container ul-yellow-bg">
    <div class="row">
        <div class="col-3 col-md-3 class-room-available border border-dark rounded">
            <p>ROOM201</p>
            <hr>
            <p><i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-ROOM201">Loading...</span></p>
            <p><i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-ROOM201">Loading...</span></p>
        </div>
        <div class="col-3 col-md-3 class-room-available border border-dark rounded"></div>
        <div class="col-3 col-md-3 class-room-available border border-dark rounded"></div>
        <div class="col-3 col-md-3 border-left border-top border-right border-dark text-right help-text font-weight-bold hallway rounded"> Entrance</div>
    </div>

    <div class="row">
        <div class="col-3 col-md-2 class-room-available border border-dark rounded">
            <p>ROOM202</p>
            <p><i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-ROOM202">Loading...</span></p>
            <p><i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-ROOM202">Loading...</span></p>
        </div>
        <div class="col-3 col-md-2 hallway"></div>
        <div class="col-3 col-md-8 hallway">
            <div class="row h-50">
                <div class="col-3 col-md-12 help-text font-weight-bold hallway border-right border-dark rounded">Hallway</div>
            </div>
            <div class="row h-50">
                <div class="col-3 col-md-3 class-room-available border border-dark rounded"></div>
                <div class="col-3 col-md-3 outside border-top border-dark rounded"></div>
                <div class="col-3 col-md-6 bg-white border-left border-right border-dark rounded">
                    <div class="row h-100">
                        <div class="col-3 col-md-5 other-room border border-dark rounded"></div>
                        <div class="col-3 col-md-2 hallway"></div>
                        <div class="col-3 col-md-5 other-room border border-dark rounded"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3 col-md-2 class-room-available border border-round border-dark rounded">
            <p>ROOM201</p>
            <p><i class="fa fa-thermometer-full" aria-hidden="true"></i>: <span id="Temperature-display-ROOM201">Loading...</span></p>
            <p><i class="fa-solid fa-droplet"></i>: <span id="Humidity-display-ROOM201">Loading...</span></p>
        </div>
        <div class="col-3 col-md-2 class-room-available border border-dark rounded"></div>
        <div class="col-3 col-md-2 class-room-available border border-dark rounded"></div>
        <div class="col-3 col-md-2 outside"></div>
        <div class="col-3 col-md-4 bg-white border-left border-bottom border-right border-dark rounded">
            <div class="row h-100">
                <div class="col-3 col-md-5 other-room border border-dark rounded"></div>
                <div class="col-3 col-md-2 hallway"></div>
                <div class="col-3 col-md-5 class-room-available border border-dark rounded"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
