{% extends 'dashboard/base.html' %} {% block content %}
<div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
          <h2 class="mb-4">Set Your Preferences</h2>
          <form method="post" id="preferencesForm">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="temperature">Temperature °C</label>
                <input type="number" class="form-control" id="temperature" name="temperature" step="any" value="{{ initial_data.Temperature.0 }}">
                <small class="form-text text-muted">Enter the value for Temperature.</small>
              </div>

              <div class="col-md-6 mb-3">
                <label for="temperature_importance">How important is Temperature to you?</label>
                <select class="form-control" id="temperature_importance" name="temperature_importance">
                  <option value="1" {% if initial_data.Temperature.1 == 1 %}selected{% endif %}>Not Important</option>
                  <option value="2" {% if initial_data.Temperature.1 == 2 %}selected{% endif %}>Neutral</option>
                  <option value="3" {% if initial_data.Temperature.1 == 3 %}selected{% endif %}>Very Important</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="humidity">Humidity %</label>
                <input type="number" class="form-control" id="humidity" name="humidity" step="any" value="{{ initial_data.Humidity.0 }}">
                <small class="form-text text-muted">Enter the value for Humidity.</small>
              </div>

              <div class="col-md-6 mb-3">
                <label for="humidity_importance">How important is Humidity to you?</label>
                <select class="form-control" id="humidity_importance" name="humidity_importance">
                  <option value="1" {% if initial_data.Humidity.1 == 1 %}selected{% endif %}>Not Important</option>
                  <option value="2" {% if initial_data.Humidity.1 == 2 %}selected{% endif %}>Neutral</option>
                  <option value="3" {% if initial_data.Humidity.1 == 3 %}selected{% endif %}>Very Important</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="sound_importance">How important is a quiet room to you?</label>
                <select class="form-control" id="sound_importance" name="sound_importance">
                  <option value="1" {% if initial_data.Sound.1 == 1 %}selected{% endif %}>Not Important</option>
                  <option value="2" {% if initial_data.Sound.1 == 2 %}selected{% endif %}>Neutral</option>
                  <option value="3" {% if initial_data.Sound.1 == 3 %}selected{% endif %}>Very Important</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="light_importance">How important is a well-lit room to you?</label>
                <select class="form-control" id="light_importance" name="light_importance">
                  <option value="1" {% if initial_data.Light.1 == 1 %}selected{% endif %}>Not Important</option>
                  <option value="2" {% if initial_data.Light.1 == 2 %}selected{% endif %}>Neutral</option>
                  <option value="3" {% if initial_data.Light.1 == 3 %}selected{% endif %}>Very Important</option>
                </select>
              </div>
            </div>

            <button type="button" class="btn btn-primary mt-4" onclick="savePreferences()">Save Preferences</button>
          </form>
      </div>
      <div class="col-md-6 border-start">
        <h2>Confused?</h2>
        <p> Here are some recommended values for each metric:
        <div style="background: #FAFAD2;" class="card mb-3 text-dark">
            <div class="card-body">
                <h5 class="card-title">Temperature  <i class="fa fa-thermometer-full" aria-hidden="true"></i></h5>
                <p class="card-text">20°C - 24°C</p>
            </div>
        </div>
        <div style="background: #FAFAD2;" class="card mb-3 text-dark">
            <div class="card-body">
                <h5 class="card-title">Humidity <i class="fa-solid fa-droplet" aria-hidden="true"></i></h5>
                <p class="card-text">40% - 60%</p>
            </div>
        </div>
        <div style="background: #FAFAD2;" class="card mb-3 text-dark">
            <div class="card-body">
                <h5 class="card-title">Sound <i class="fas fa-volume-down" aria-hidden="true"></i></h5>
                <p class="card-text">Noise levels are recommended to be below 60 dB for less distractions</p>
            </div>
        </div>
        <div style="background: #FAFAD2;" class="card mb-3 text-dark">
            <div class="card-body">
                <h5 class="card-title">Brightness <i class="fas fa-sun" aria-hidden="true"></i></h5>
                <p class="card-text">It is recommended to be in a well-lit room to prevent eye-strain</p>
            </div>
        </div>
      </div>
    </div>
</div>

  <script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function savePreferences() {
        const csrftoken = getCookie('csrftoken');

        let formData = {
            Temperature: [parseFloat($('#temperature').val()), parseInt($('#temperature_importance').val())],
            Humidity: [parseFloat($('#humidity').val()), parseInt($('#humidity_importance').val())],
            Light: [400, parseInt($('#light_importance').val())],
            Sound: [50, parseInt($('#sound_importance').val())],
        };

        $.ajax({
            url: '/preferences/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function(response) {
                window.location.href = '/';
            },
            error: function(error) {
                console.error(error);
            }
        });
    }
</script>

{% endblock content %}
