<!-- templates/admin/sensor/room/change_form.html -->
{% extends 'admin/change_form.html' %}

{% block content %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />

    <br/>
    <div class="container">
      <table id="result_list" style="width:100%;">
        <thead>
            <tr>
                <th scope="col" class="sortable column-name">Name</th>
                <th scope="col" class="sortable column-is_active">Active</th>
                <th scope="col" class="sortable column-is_alive">Is Alive</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in sensors %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td class="field-name" style="font-weight: bold;">
                        <a href="{% url 'admin:sensor_sensor_change' obj.id %}">{{ obj.name }}</a>
                    </td>
                    <td class="field-is_active">{% if obj.is_active %}&#10004;{% else %}&#10008;{% endif %}</td>
                    <td class="field-is_alive">{% if obj.is_alive %}&#10004;{% else %}&#10008;{% endif %}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No sensors found.</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

    <br/>

    <div class="module">
        <h2>Temperature Over last 24 hours</h2>
        <canvas id="temperatureChart" width="800" height="200"></canvas>
    </div>

    <script>
      let temperatureData = {{ temperature_data|safe }};

      let timeLabels = temperatureData.map(function(entry) {
        return moment(entry.time);
      });
      let temperatureValues = temperatureData.map(function(entry) {
        return entry.value;
      });

      let ctx = document.getElementById('temperatureChart').getContext('2d');
      let temperatureChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: timeLabels,
          datasets: [{
            label: 'Temperature',
            data: temperatureValues,
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
            fill: false,
          }],
        },
        options: {
          scales: {
            x: {
              type: 'time',
              time: {
                unit: 'hour',
              },
            },
            y: {
              beginAtZero: true,
              ticks: {
                maxTicksLimit: 8,
              },
            },

          },
        },
      });
    </script>
{% endblock %}
